<form class="space-y-6" [formGroup]="registerForm">
    <div class="alert alert-danger d-flex align-items-center" *ngIf="error">
        <i class="fa fa-exclamation-triangle me-2" aria-hidden="true"></i>
        {{error}}
    </div>

    <div class="alert alert-success" *ngIf="confirmAccount()">
        <div class="fw-bold text-success">
            <i class="fa fa-check-circle me-2" aria-hidden="true"></i>
            Your account has been created successfully
        </div>
        <div class="text-sm text-gray-800">
            <p>To complete the registration process,please check your email for a confirmation link.</p>
            <p>If you do not see the email, please click the button below to resend the confirmation email.</p>
            <app-resend-confirmation-email-button [username]="registerForm?.get('username')?.value || ''"></app-resend-confirmation-email-button>
        </div>                        
    </div>
    <div class="form-group">
        <label for="username" class="form-check-label text-sm fw-semibold">Email (will be used as the Username)</label>
        <input id="username" type="email" class="form-control" formControlName="username"
            placeholder="Choose a username"
            [ngClass]="{'is-invalid': registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)}" />
        <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)"
            class="text-danger mt-1 text-sm">
            <div *ngIf="registerForm.get('username')?.errors?.['required']">
                * Email is required.
            </div>
            <div *ngIf="registerForm.get('username')?.errors?.['email']">
                * Username must be a valid email address.
            </div>
        </div>        
    </div>

    <div class="form-group">
        <label for="password" class="form-check-label text-sm fw-semibold">Password</label>
        <input id="password" type="password" class="form-control" formControlName="password" placeholder="••••••••"
            [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)}" />
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
            class="text-danger mt-1 text-sm">
            <div *ngIf="registerForm.get('password')?.errors?.['required']">
                * Password is required.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword" class="form-check-label text-sm fw-semibold">Confirm Password</label>
        <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword" placeholder="••••••••"
            [ngClass]="{'is-invalid': registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)}" />
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)"
            class="text-danger mt-1">
            <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
                * Confirm Password is required.
            </div>
        </div>

        <div *ngIf="registerForm.errors?.['passwordMismatch'] && !registerForm.get('confirmPassword')?.invalid"
            class="text-danger mt-1 text-sm">
            <div>
                * Confirm Password does not match Password.
            </div>
        </div>
    </div>

    <div class="flex items-center justify-between">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="acceptTerms" formControlName="acceptTerms">
            <label class="form-check-label text-sm fw-semibold" for="checkDefault">
                I accept the <a href="/terms" class="text-primary" target="terms">Terms of Service</a> and <a href="/privacy" class="text-primary"  target="privacy">Privacy Policy</a>.
            </label>
        </div>        
    </div>

    <button type="button" class="w-full btn btn-primary" [disabled]="registering() || registerForm.invalid"
        (click)="onSubmit()">
        <span *ngIf="registering()" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        {{registering() ? "Creating Account..." : "Create Account"}}
    </button>
</form>