<div class="grid gap-3 p-6 w-[500px] grid-cols-2">
    <div *ngFor="let feature of features"        
        class="block select-none space-y-1 rounded-md p-3 leading-none no-underline outline-none transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900">
        <div class="flex items-center space-x-2 text-sm font-medium leading-none">
            <div class="text-blue-600">
                <i class="fa {{feature.icon}} me-2"></i>
                <span>{{feature.title}}</span>
            </div>            
        </div>
        <p class="text-sm leading-snug text-muted-foreground hover:text-gray-700">
            {{feature.description}}
        </p>
    </div>
</div>