<!-- dashboard.component.html -->
<app-grid-container [cols]="12" [cols-md]="6" [cols-xs]="1">
  <!-- Row 1 -->
  <app-widget-container [cols]="3" [cols-md]="2" [cols-xs]="1">
    <app-widget title="Chart 1">
      <!-- your widget content here -->      
      <canvas><!-- ... --></canvas>
    </app-widget>
  </app-widget-container>
  <app-widget-container [cols]="3" [cols-md]="2" [cols-xs]="1">
    <app-widget title="Chart 2">
      <!-- your widget content here -->      
      <canvas><!-- ... --></canvas>
    </app-widget>
  </app-widget-container>
  <app-widget-container [cols]="3" [cols-md]="2" [cols-xs]="1">
    <app-widget  title="Chart 3">
      <!-- your widget content here -->      
      <canvas><!-- ... --></canvas>
    </app-widget>
  </app-widget-container>


  <app-widget-container [cols]="9"  [cols-md]="6" [cols-xs]="1">
    <app-widget  title="Stats">      
      <!-- ... -->
    </app-widget>
  </app-widget-container>

  <!-- Row 2 -->
  <app-widget-container [cols]="6"  [cols-md]="3" [cols-xs]="1">
    <app-widget title="Users">      
    </app-widget>
  </app-widget-container>
  
  <!-- Row 3 -->
  <app-widget-container [cols]="6" [cols-md]="3" [cols-xs]="1">
    <app-widget title="Feed">      
    </app-widget>
  </app-widget-container>

  <!-- etc… -->
</app-grid-container>
