<div class="bg-white rounded-lg shadow-sm">
  <div class="p-6 pb-0">
    <div class="flex justify-center">
      <div class="flex flex-col items-center w-full">
        <app-toggle-button (toggle)="period.set($event)" [mode]="period()"
          [modes]="{first: {key: 'monthly', label: 'Monthly'}, second: {key: 'annually', label:'Annually'}}">
        </app-toggle-button>
        <div class="w-full flex justify-center mb-4">
          <span *ngIf="period() === 'annually'"
            class="ml-1 inline-flex items-center px-1.5 py-0.5 rounded text-sm font-medium bg-green-100 text-green-800">
            Purchase Annual plan and enjoy 33% saving compared to monthly billing.
          </span>
          <span *ngIf="period() === 'monthly'"
            class="ml-1 inline-flex items-center px-1.5 py-0.5 rounded text-sm font-medium bg-blue-100 text-blue-800">
            Purchase Monthly plan and enjoy cancellation anytime.
          </span>
        </div>

        <div class="w-full flex flex-row gap-6 justify-center">
          <div key="free" class="rounded-lg p-6 flex flex-col relative border-2 border-primary w-full max-w-sm">
            <!-- Popular Badge-->
            <div class="absolute top-0 right-0 transform translate-x-2 -translate-y-2">
              <span
                class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-primary text-white">
                POPULAR
              </span>
            </div>

            <h3 class="text-lg font-medium text-gray-900">Standard</h3>
            <div class="mt-4 flex items-baseline">
              <span class="text-3xl font-extrabold tracking-tight text-gray-900">
                {{20 | currency:'USD':'symbol':'1.0-0'}}
              </span>
              <span class="ml-1 text-sm font-medium text-gray-500">
                month
              </span>
            </div>
            <p class="text-sm text-green-600 font-medium">
              Billed annually {{(20 * 12) | currency:'USD':'symbol':'1.0-0'}}/year
            </p>
            <p class="text-sm text-gray-600 font-medium">
              Minimum 6 users
            </p>
            <p class="mt-4 text-sm text-gray-500">
              Everything you need for professional URL management.
            </p>

            <ul role="list" class="mt-6 space-y-3 flex-1">
              <!-- <PlanFeature key={featureIndex} included={true}>
                    {feature}
                  </PlanFeature> -->
            </ul>

            <div class="mt-6 space-y-2">
              <button type="button" class="btn btn-outline-success w-full">
                Start 60 days trial
              </button>

              <button type="button" class="btn btn-primary w-full">
                Sign Up
              </button>
            </div>
          </div>

          <div key="free" class="border rounded-lg p-6 flex flex-col relative border-primary w-full max-w-sm">            

            <h3 class="text-lg font-medium text-gray-900">Standard</h3>
            <div class="mt-4 flex items-baseline">
              <span class="text-3xl font-extrabold tracking-tight text-gray-900">
                {{20 | currency:'USD':'symbol':'1.0-0'}}
              </span>
              <span class="ml-1 text-sm font-medium text-gray-500">
                month
              </span>
            </div>
            <p class="text-sm text-green-600 font-medium">
              Billed annually {{(20 * 12) | currency:'USD':'symbol':'1.0-0'}}/year
            </p>
            <p class="text-sm text-gray-600 font-medium">
              Minimum 6 users
            </p>
            <p class="mt-4 text-sm text-gray-500">
              Everything you need for professional URL management.
            </p>

            <ul role="list" class="mt-6 space-y-3 flex-1">
              <!-- <PlanFeature key={featureIndex} included={true}>
                    {feature}
                  </PlanFeature> -->
            </ul>

            <div class="mt-6 space-y-2">
              <button type="button" class="btn btn-outline-success w-full">
                Start 60 days trial
              </button>

              <button type="button" class="btn btn-primary w-full">
                Sign Up
              </button>
            </div>
          </div>

          <div key="free" class="border rounded-lg p-6 flex flex-col relative border-primary w-full max-w-sm">            

            <h3 class="text-lg font-medium text-gray-900">Standard</h3>
            <div class="mt-4 flex items-baseline">
              <span class="text-3xl font-extrabold tracking-tight text-gray-900">
                {{20 | currency:'USD':'symbol':'1.0-0'}}
              </span>
              <span class="ml-1 text-sm font-medium text-gray-500">
                month
              </span>
            </div>
            <p class="text-sm text-green-600 font-medium">
              Billed annually {{(20 * 12) | currency:'USD':'symbol':'1.0-0'}}/year
            </p>
            <p class="text-sm text-gray-600 font-medium">
              Minimum 6 users
            </p>
            <p class="mt-4 text-sm text-gray-500">
              Everything you need for professional URL management.
            </p>

            <ul role="list" class="mt-6 space-y-3 flex-1">
              <!-- <PlanFeature key={featureIndex} included={true}>
                    {feature}
                  </PlanFeature> -->
            </ul>

            <div class="mt-6 space-y-2">
              <button type="button" class="btn btn-outline-success w-full">
                Start 60 days trial
              </button>

              <button type="button" class="btn btn-primary w-full">
                Sign Up
              </button>
            </div>
          </div>

          <div key="free" class="border rounded-lg p-6 flex flex-col relative border-primary w-full max-w-sm">            

            <h3 class="text-lg font-medium text-gray-900">Standard</h3>
            <div class="mt-4 flex items-baseline">
              <span class="text-3xl font-extrabold tracking-tight text-gray-900">
                {{20 | currency:'USD':'symbol':'1.0-0'}}
              </span>
              <span class="ml-1 text-sm font-medium text-gray-500">
                month
              </span>
            </div>
            <p class="text-sm text-green-600 font-medium">
              Billed annually {{(20 * 12) | currency:'USD':'symbol':'1.0-0'}}/year
            </p>
            <p class="text-sm text-gray-600 font-medium">
              Minimum 6 users
            </p>
            <p class="mt-4 text-sm text-gray-500">
              Everything you need for professional URL management.
            </p>

            <ul role="list" class="mt-6 space-y-3 flex-1">
              <!-- <PlanFeature key={featureIndex} included={true}>
                    {feature}
                  </PlanFeature> -->
            </ul>

            <div class="mt-6 space-y-2">
              <button type="button" class="btn btn-outline-success w-full">
                Start 60 days trial
              </button>

              <button type="button" class="btn btn-primary w-full">
                Sign Up
              </button>
            </div>
          </div>
        </div>

      </div>

      <!-- <Tabs value={billingCycle} onValueChange={(value) => setBillingCycle(value as 'monthly' | 'annually')}>
            <TabsList class="grid w-full grid-cols-2">
              <TabsTrigger value="monthly">Monthly</TabsTrigger>
              <TabsTrigger value="annually">
                Annually
                <span class="ml-1 inline-flex items-center px-1.5 py-0.5 rounded text-xs font-medium bg-green-100 text-green-800">
                  Save 33%
                </span>
              </TabsTrigger>
            </TabsList>
          </Tabs> -->
    </div>
  </div>
</div>